body { padding-top: 50px; }
.main-content { padding: 40px 15px; }

.spinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: -20px auto;
    padding: 40px 0;
    p {
        margin-top: 20px;
    }
}

.table {
    tr {
        td {
            vertical-align: middle;
            .profile-photo {
                width: 30px;
                height: 30px;
            }
        }
    }
}
