<div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
        <div class="panel-heading">Details

            <button class="btn btn-danger btn-sm pull-right"
                           ladda="contacts.isDeleting"
                           ng-click="remove()">Delete</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <form  class="form-horizontal"
                        ng-submit="save()"
                        novalidate >

                <ng-include src="'templates/form.html'"></ng-include>

            </form>
        </div>
    </div>
</div>